extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    li= title
     input(id='id' name='id' value='' class='form-control' type='hidden')
    p(class='text-danger' id='error-text')
  form(id='productstorages-add-form' name='productstorages-add-form' class='form-inline' action='')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Storage
      div(class='col-md-9')
        input(id='storage' name='storage' value='' class='form-control')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Product
      div(class='col-md-9')
        input(id='product' name='product' value='' class='form-control')        
    div(class='form-group')
      div(class='col-md-12')
        button(id="form-button" type='submit' class='btn btn-primary') Create
    div.list-wrapper
      table(id='productstorages-list')
block append scripts
  script(src='/static/js/models/productstorages.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/productstorages.js')