extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    li= title
    input(id='id' name='id' value='' class='form-control' type='hidden')
    p(class='text-danger' id='error-text')
  form(id='storages-add-form' name='storages-add-form' class='form-inline' action='')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Shop
      div(class='col-md-9')
        input(id='shop' name='shop' value='' class='form-control')
    div(class='form-group')
      div(class='col-md-3')
        label(for='name') Capacity
      div(class='col-md-9')
        input(id='capacity' name='capacity' value='' class='form-control')        
    div(class='form-group')
      div(class='col-md-12')
        button(id="form-button"  type='submit' class='btn btn-primary') Create
    div.list-wrapper
      table(id='storages-list')
          div.list-wrapper
      table(id='storagesreport-list')
block append scripts
  script(src='/static/js/models/storages.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/storages.js')