#table {

    background-color:black;
    width: fit-content; 

  }

  th{
    background-color: rgb(222, 208, 240);
    padding: 20px; 
    margin : 20px;
  }

  td {
    background-color:rgb(154, 138, 247);
    padding: 20px;
    margin : 15px;
  }
